*.elc
*~
ido.last*
recentf
auto-save-list/
backups/
elpa/
transient/
url/
eshell/
.ercrc.el
newsticker/
request/
bookmarks
tramp
eln-cache/
games/
speed-type
package-quickstart.el
.persistent-scratch
